/* src/app/page.module.css */

.main {
    padding: 2rem;
}

.description {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.button {
    padding: 0.5rem ;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.button_gas {
    padding: 1rem ;
    background-color: #f30024;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.7s ease;
}

.button:hover {
    background-color: #005bb5;
}

.button_gas:hover {
    background-color: #a90000;
}

.button:active {
    background-color: #003f8e;
}

.list {
    list-style: none;
    padding: 0;
}

.listItem {
    margin: 0.5rem 0;
}

.error {
    color: red;
    margin-top: 1rem;
    text-align: center;
}

.error pre {
    text-align: left;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

.info {
    margin-bottom: 2rem;
}

.particles {
    margin-top: 2rem;
}

.events {
    margin-top: 2rem;
}

.eventItem {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.chartContainer {
    width: 80%;
    height: 100%;
    margin: 0 auto; /* Center the chart */
}

.iterationControl {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 5%;
}

.slider {
    width: 200px;
}

.dropdown {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 1rem;
}

.flex_layout {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}