.main {
    padding: 2rem;
}

.description {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.button {
    padding: 0.75rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    height: min-content;
    /*make the button verticaly centered*/
    align-self: center;
}

.button_gas {
    padding: 1rem;
    background-color: #f30024;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.7s ease;
}

.button:hover {
    background-color: #005bb5;
}

.button_gas:hover {
    background-color: #a90000;
}

.button:active {
    background-color: #003f8e;
}

.list {
    list-style: none;
    padding: 0;
}

.listItem {
    margin: 0.5rem 0;
}

.error {
    color: red;
    margin-top: 1rem;
    text-align: center;
}

.error pre {
    text-align: left;
    margin: 0 auto;
    display: inline-block;
}

.info {
    margin-bottom: 1rem;
}

.particles {
    margin-top: 1rem;
}

.events {
    margin-top: 2rem;
}

.eventItem {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.chartContainer {
    width: 87%;
    height: 100%;
    margin: 0 auto; /* Center the chart */
}

.iterationControl {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 5%;
}

.slider {
    width: 200px;
}

.dropdown {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 1rem;
}

.flex_layout {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.blueText {
    color: #0070f3;
}

.deployForm {
    /*margin-top: 1rem;*/
    padding-left: 5%;
}

.deployForm label {
    margin-right: 0.5rem;
}

.deployForm input {
    width: 60px;
    padding: 0.3rem;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.controllerInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.controllerInfo div {
    /*margin-right: 1rem;*/
}

.targetFunction {
    text-align: right;
}

.detailsContainer {
    width: 22%;
    /*padding: 1rem;*/
    /*background-color: rgba(0, 0, 0, 0.05);*/
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 2rem;
}

/*.detailsContainer img {*/
/*    margin-top: 1rem;*/
/*    width: 110%;*/
/*    !*height: 300px;*!*/
/*    object-fit: cover;*/
/*    mix-blend-mode: multiply; !* Apply blending mode to make white transparent *!*/
/*    top: 0;*/
/*    left: 0;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.cardsContainer, .controllerCardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.cardsContainer {
    margin-top: 0; /* Reset margin if there's any difference */
}

.controllerCardsContainer {
    margin-top: 24px;
}

.card, .controllerCard {
    border-radius: 8px;
    padding: 16px;
    width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #333;
    cursor: pointer; /* Make cursor pointer to indicate it's clickable */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover, .controllerCard:hover {
    transform: translateY(-13px); /* Slightly lift the card */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Deepen the shadow on hover */
}

.card:active, .controllerCard:active, .selectedCard {
    transform: translateY(-2px); /* Slightly lower the card on click */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Adjust shadow on click */
}

.selectedCard {
    border: 5px solid #021a69;
}


.chartContainerWithCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chartWrapper {
    flex: 1;
}

.totalGasCard {
    margin-left: 20px;
    padding: 20px; /* Increased padding for a wider appearance */
    width: 200px; /* Set a fixed width for the card */
    background-color: #0698f3;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #fff; /* Optional: Make the text color white for better contrast */
}

.totalGasCard h4 {
    margin: 0;
    font-size: 18px; /* Slightly larger font for the title */
    font-weight: bold;
}

.totalGasCard p {
    margin: 10px 0 0; /* Increase margin for better spacing */
    font-size: 16px; /* Slightly larger font for the content */
    color: #fff; /* Ensure text color matches the card background */
}


.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.warningMessage {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
}
